# Copyright (C) 2024 Paranoid Android
# SPDX-License-Identifier: Apache-2.0

on property:persist.lcd.hbm_mode=*
    write /sys/devices/platform/soc/soc:qcom,dsi-display/hbm ${persist.lcd.hbm_mode}

on property:persist.lcd.cabc_mode=*
    write /sys/devices/platform/soc/soc:qcom,dsi-display/cabc ${persist.lcd.cabc_mode}
